.track {
    width: 700px;
    height: 70px;
    background-color: #232323;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s all;
}

.track:hover {
    transition: 0.5s all;
    background-color: #1e1e1e;
}

.track__items {
    display: flex;
    padding: 10px 10px;
    gap: 10px
}

.track__items_image img {
    width: 100%;
    height: 50px;
    transition: 0.3s all;
}

.track__items_image:hover {
    transition: 0.3s all;
    opacity: 0.6;
}

.track__items_text {
    color: white;
}

.track__items_text_title {
    font-size: 18px;
}

.track__items_text_author {
    font-size: 14px;
    text-decoration: underline;
}